z<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <!-- Console : logs généraux de l'application -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{30} - %msg%n"/>
        </Console>

        <!-- Fichier tournant quotidiennement : uniquement les événements de sécurité -->
        <RollingFile name="SecurityFile"
                     fileName="logs/security.log"
                     filePattern="logs/security-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

    </Appenders>

    <Loggers>


        <Logger name="SECURITY" level="INFO" additivity="false">
            <AppenderRef ref="SecurityFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Logger racine pour tout le reste -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>
